<div class="container">
    <form name="frmPrd" [formGroup] ='frmPrd' (ngSubmit)="save()">
        <div class="form-group">
            <label>Product Id</label>
            <!--Data Binding Two Way with ngModel-->
            <input type="text" name="ProductId" formControlName='ProductId' class="form-control" [ngClass]="{'is-invalid': !frmPrd.controls.ProductId.valid, 'is-valid': frmPrd.controls.ProductId.valid}">
            <div class="alert alert-danger" *ngIf="frmPrd.controls.ProductId.dirty && !frmPrd.controls.ProductId.valid">               
                <p *ngIf="frmPrd.controls.ProductId.errors.notunique">Value must be unique</p>
            </div>
        </div>
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" name="ProductName"formControlName="ProductName" class="form-control" [ngClass]="{'is-invalid': !frmPrd.controls.ProductName.valid, 'is-valid': frmPrd.controls.ProductName.valid}">
            <div class="alert alert-danger" *ngIf="frmPrd.controls.ProductName.dirty && !frmPrd.controls.ProductName.valid">               
                <p *ngIf="frmPrd.controls.ProductName.errors.notuppercase">First character should be upper case</p>
            </div>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" name="Price" formControlName="Price" class="form-control">
        </div>
        <div class="form-group">            
            <app-dropdown-directives [DataSource]="cats" (onSelection)="setCategory($event)"></app-dropdown-directives>
        </div>
        <div class="form-group pull-right">
            <!--Event Binding (click)-->
            <input type="button" value="New" class="btn btn-primary" (click)="clear()">
            <input type="button" value="Save" class="btn btn-success" (click)="save()">
        </div>
    </form>
</div>
<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Product" aria-label="Recipient's username"
            aria-describedby="button-addon2" (keyup)="onKeyUp($event)">
    </div>
    <div style="float: right;">
        <div class="custom-control-inline">
            <label>Sort by Name</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
                value="asc" (change)="onRadioChange($event.target.value)">
            <label class="custom-control-label" for="customRadioInline1">Asc</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input"
                value="desc" (change)="onRadioChange($event.target.value)">
            <label class="custom-control-label" for="customRadioInline2">Desc</label>
        </div>
    </div>
    <table class="table table-striped table-bordered table-dark">
        <thead>
            <tr>
                <th *ngFor="let h of headers">{{h}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prd of products" (click)="getSelectedProduct(prd)">
                <td *ngFor="let h of headers">
                    {{prd[h]}}
                </td>
                <td>
                    <input type="button" value="Delete" class="btn btn-danger" (click)="deleteProduct(prd)">
                </td>
            </tr>
        </tbody>
    </table>
</div>